# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Understand basic arithmetic expressions and their operators.
- Learn to convert minutes to hours using simple calculations.
- Explore the use of comments to explain code functionality.
- Familiarize with creating and executing code cells in Jupyter Notebook.
- List popular programming languages, libraries, and tools used in Data Science.

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. PyTorch

Some open-source development environment tools used in data science include:
| Data Science Tools       |
|--------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

1. **Addition (`+`)**: Adds two numbers.
2. **Subtraction (`-`)**: Subtracts one number from another.
3. **Multiplication (`*`)**: Multiplies two numbers.
4. **Division (`/`)**: Divides one number by another.
5. **Floor Division (`//`)**: Divides and returns the largest integer less than or equal to the result.
6. **Modulus (`%`)**: Returns the remainder of a division operation.
7. **Exponentiation (`**`)**: Raises one number to the power of another.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Aman Jain